/*
    Public domain 2015 Luis Felipe López Acevedo. All rights waived.
    <felipe.lopez@openmailbox.org>

    NOTE  The default style is targeted at screens with a width less than
          1024 pixels.
*/

.message-box {
    box-shadow: inset 0px 0px 4px black;
    color: #F5F5F5;
    padding: 10px;
    text-align: center;
}

.message-box a {
    color: inherit;
}

.msg-info {
    background-color: #144054;
}

.msg-error {
    background-color: #993838;
}

.msg-warning {
    background-color: #54142C;
}

.msg-label {
    font-weight: bold;
    padding-right: 10px;
}

.donate-info {
    background-color: #FFFFFF;
    color: #000;
}

.donate-button {
    background-color: #F4BB15;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: #F7CB50;
}

.donate-info > a:link, .donate-info > a:visited {
    color: #000;
    font-weight: bold;
    border: none;
}
