/* Public domain 2019. All rights waived */

.video-preview {
    color: white;
    display: block;
    padding: 10px 15px;
    text-align: center;
}

.video-link:link,
.video-link:visited {
    display: block;
    border-style: none;
    color: white;
    margin-top: 0.5em;
}

.video-link:active,
.video-link:focus,
.video-link:hover {
    border-style: none;
    color: #F4BB15;
}



@media screen and (min-width: 1024px) {
    .video-preview {
        display: inline-block;
        margin: 10px 0px 15px 0px;
        vertical-align: top;
        width: 270px;
    }
}
